  <div class="modal-header">
    Détails de l'utilisateur
  </div>
  <div class="modal-body">
    <div class="user-info">
      <div class="user-info-item">
        <span>Prénom et Nom:</span> {{ user?.prenom }} {{ user?.nom }}
      </div>
      <div class="user-info-item">
        <span>Email:</span> {{ user?.email }}
      </div>
      <div class="user-info-item">
        <span>Matricule:</span> {{ user?.matricule }}
      </div>
      <div class="user-info-item">
        <span>Rôle:</span> {{ user?.role }}
      </div>
      <div class="user-info-item">
        <span>Statut:</span> {{ user?.actif ? 'Actif' : 'Inactif' }}
      </div>
      <div class="user-info-item">
        <span>Date de création:</span> {{ user?.date_creation | date }}
      </div>
      <div class="user-info-item">
        <span>Date de modification:</span> {{ user?.date_modification | date }}
      </div>
    </div>
    <button class="close-button" (click)="closeModal()">Fermer</button>
  </div>
