<div class="header">
    <img src="Log1 Naatangé.png" style="width: 100px;">
    <nav class="navbar">
      <ul>
        <li (click)="toggleMenu($event)">
          <a href="javascript:void(0)">
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
          <div class="dropdown" *ngIf="menuVisible">
            <ul class="dropdown-links">
              <li>
                <a (click)="navigateToProfile()">
                  <fa-icon [icon]="faUserCircle"></fa-icon>
                  <span>Voir le profil</span>
                </a>
              </li>
              <li>
                <a href="#logout" (click)="onLogoutAll()">
                  <fa-icon [icon]="faSignOutAlt"></fa-icon>
                  <span>Déconnexion</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
