<div class="dashboard">
    <!-- Navbar -->

    <!-- Main Content -->
    <div class="main-content">
        <!-- Statistiques -->
        <div class="stats">
            <div class="card">
                <h3>Humidité du Sol</h3>
                <div class="value">78%</div>
            </div>
            <div class="card">
                <h3>Luminosité</h3>
                <div class="value">820 lux</div>
            </div>
            <div class="card">
                <h3>Température & Humidité</h3>
                <div class="value">38°C / 40%</div>
            </div>
        </div>

        <!-- Section Options + Zones + Réservoir -->
        <div class="bottom-section">
            <!-- Partie gauche : Options + Réservoir -->
            <div class="left-section">
                <!-- Options -->
                <div class="options">
                    <button [routerLink]="['/users']" class="btn1">Gestion des utilisateurs</button>
                    <button class="btn2">Programmer un arrosage</button>
                    <button class="btn3">Ajouter une Zone</button>
                    <button class="btn4">Voir Historique</button>
                </div>

                <!-- Réservoir sous les options -->
                <div class="reservoir">
                    <h3>Volume Réservoir</h3>
                    <div class="controls">
                        <button class="arr">Arroser</button>
                        <button class="aret">Arrêter</button>
                        <div class="volume">{{ reservoirVolume }}%</div>
                    </div>
                </div>
            </div>

            <!-- Carte principale Zones -->
            <div class="zone-container">
                <h3>Zones</h3>
                <div class="zones-list">
                    <div class="zone-card" *ngFor="let zone of zones">
                        <h3>{{ zone.name }}</h3>
                        <p>{{ zone.status }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>