<div class="modal-content">
  <div class="modal-header">
    Modifier l'utilisateur
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="matricule">Matricule</label>
        <input id="matricule" formControlName="matricule" />
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input id="prenom" formControlName="prenom" />
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input id="nom" formControlName="nom" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="role">Rôle</label>
        <select id="role" formControlName="role">
          <option value="utilisateur">Utilisateur</option>
          <option value="super-admin">Super Admin</option>
        </select>
      </div>
      <!--<div class="form-group">
        <label for="actif">Actif</label>
        <input type="checkbox" id="actif" formControlName="actif" />
      </div> -->
      <button type="submit" class="save-button">Enregistrer</button>
    </form>
  </div>
</div>
