<app-header></app-header>
<div class="dashboard">
    <!-- Main Content -->
    <div class="main-content">
        <!-- Statistiques -->
        <div class="stats">
            <!-- Autres cartes -->
            <div class="card">
                <i class="fas fa-tint large-icon"></i>
                <h3>Humidité du Sol</h3>
                <div class="value">{{ humidite }}%</div>
            </div>
            <div class="card">
                <i class="fas fa-sun large-icon"></i>
                <h3>Luminosité</h3>
                <div class="value">{{ luminosite }} lux</div>
            </div>

            <!-- Réservoir intégré dans stats -->
            <div class="card reservoir">
                <h2 class="reservoir-title">Volume Réservoir</h2>
                <div class="reservoir-content">
                    <div class="reservoir-controls">
                        <button class="arr" (click)="startWatering()">
                            <i class="fas fa-play"></i> Arroser
                        </button>
                        <button class="aret" (click)="stopWatering()">
                            <i class="fas fa-stop"></i> Arrêter
                        </button>
                        <div class="volume">Niveau d'Eau: {{ niveau_eau }}%</div>
                        <!-- <div class="water-level">Niveau d'Eau: {{ niveau_eau }}%</div> -->
                    </div>
                    <i class="fas fa-fill-drip large-reservoir-icon" [class.bend]="isWatering"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Options + Réservoir + Zones -->
    <div class="bottom-section">
        <!-- Partie gauche : Options + Réservoir -->
        <div class="left-section">
            <!-- Options -->
            <div class="options">
                <button class="btn1" (click)="navigateToUsers()"><i class="fa-solid fa-user"></i>
                    <span>Gestion des utilisateurs</span></button>
                <button class="btn2" (click)="openModal()"><i class="fas fa-clock"></i>
                    <span>Programmer un arrosage</span></button>
                <button class="btn3" (click)="navigateToPlante()"><i class="fas fa-plus-circle"></i>
                    <span>Gestion des plantes</span></button>
                <button class="btn4" (click)="navigateToHistorique()">
                    <i class="fas fa-history"></i>
                    <span>Voir Historique</span>
                </button>
            </div>
        </div>

       <!-- Programme des Arrosages -->
       <div class="zones-container">
        <h3><i class="fa-solid fa-list"></i> Programme des Arrosages</h3><br>
        <table class="history-table">
            <thead>
                <tr>
                    <th>Plante</th>
                    <th>Type</th>
                    <th>Heure de début</th>
                    <th>Heure de fin</th>
                    <th>Volume d'eau</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let arrosage of paginatedArrosages">
                    <td>{{ arrosage.plante.nom || 'N/A' }}</td>
                    <td>{{ arrosage.type }}</td>
                    <td>{{ formatTime(arrosage.heureDebut) }}</td>
                    <td>{{ formatTime(arrosage.heureFin) }}</td>
                    <td>{{ getVolumeEau(arrosage) }} litres</td>
                    <td>
                        <button class="action-button" (click)="editSchedule(arrosage)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="action-button1" (click)="deleteSchedule(arrosage)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-controls" *ngIf="allArrosages.length > pageSize">
          <button
            class="pagination-button"
            [disabled]="currentPage === 1"
            (click)="previousPage()">
            <i class="fas fa-chevron-left"></i>
          </button>

          <span class="page-numbers">
            <button
              *ngFor="let page of [].constructor(totalPages); let i = index"
              class="page-number"
              [class.active]="currentPage === i + 1"
              (click)="goToPage(i + 1)">
              {{ i + 1 }}
            </button>
          </span>

          <button
            class="pagination-button"
            [disabled]="currentPage >= totalPages"
            (click)="nextPage()">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
    </div>


<!-- Modal de programmation -->
<div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>{{ isEditing ? 'Modifier' : 'Ajouter' }} un arrosage</h4>
            <button class="close-button" (click)="closeModal()">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label>Heure</label>
                <input type="time" [(ngModel)]="newSchedule.hour">
            </div>

            <div class="form-group">
                <label>Préférence</label>
                <select [(ngModel)]="newSchedule.preference">
                    <option value="none">Aucune préférence</option>
                    <option value="humidity">Humidité du sol</option>
                    <option value="light">Luminosité</option>
                </select>
            </div>

            <div class="form-group" *ngIf="newSchedule.preference !== 'none'">
                <label>Seuil</label>
                <div class="threshold-input">
                    <input type="number" [(ngModel)]="newSchedule.threshold" min="0" max="100">
                    <span>%</span>
                </div>
                <div class="weather-forecast">
                  <div *ngIf="isRaining">🌧️ Pluie prévue</div>
                  <div *ngIf="!isRaining">☀️ Pas de pluie prévue</div>
                </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="zones-container">
      <h3><i class="fas fa-history"></i> Historique des Arrosages</h3>
      <div class="filters">
        <button class="btn-filter">Jour</button>
        <button class="btn-filter">Semaine</button>
        <button class="btn-filter">Mois</button>
      </div>

      <!-- Message de succès -->
      <div *ngIf="successMessage" class="alert alert-success mt-2">
        {{ successMessage }}
      </div>

      <!-- Notification d'arrosage -->
      <div *ngIf="nextWateringTime" class="notification">
        <p>Prochain arrosage dans : {{ nextWateringTime }}</p>
      </div>

      <table class="history-table">
        <thead>
          <tr>
            <th>Plante</th>
            <th>Type</th>
            <th>Heure de début</th>
            <th>Heure de fin</th>
            <th>Volume d'eau</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let arrosage of paginatedArrosages; let i = index" (mouseover)="startTimer(arrosage.heureFin)" (mouseleave)="stopTimer()">
            <td>{{ arrosage.plante.nom }}</td>
            <td>{{ arrosage.type }}</td>
            <td>{{ arrosage.heureDebut.heures }}:{{ arrosage.heureDebut.minutes }}:{{ arrosage.heureDebut.secondes }}</td>
            <td>{{ arrosage.heureFin.heures }}:{{ arrosage.heureFin.minutes }}:{{ arrosage.heureFin.secondes }}</td>
            <td>{{ arrosage.volumeEau }} litres</td>
            <td>
              <button class="action-button" (click)="editSchedule(i)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="action-button1" (click)="deleteSchedule(i)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination Controls -->
      <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
        <span>Page {{ currentPage }} sur {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
      </div>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content scrollable-modal">
      <div class="modal-header">
        <h4>{{ isEditing ? 'Modifier' : 'Programmer' }} un arrosage</h4>
        <button class="close-button" (click)="closeModal()">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="arrosageForm">
          <div class="form-group">
            <label>Plante</label>
            <select formControlName="plante" class="form-control" [class.grayscale-input]="isEditing" [disabled]="isEditing">
              <option *ngFor="let plante of plantes" [value]="plante._id">
                {{ plante.nom }}
              </option>
            </select>
            <div *ngIf="arrosageForm.get('plante')?.invalid && arrosageForm.get('plante')?.touched" class="error">
              Plante est requise.
            </div>
          </div>

          <div class="form-group">
            <label>Heure de début</label>
            <div class="time-inputs">
              <div>
                <label>Heures</label>
                <input type="number" formControlName="heureDebutHeures" min="0" max="23" class="form-control">
                <div *ngIf="arrosageForm.get('heureDebutHeures')?.invalid && arrosageForm.get('heureDebutHeures')?.touched" class="error">
                  Valide entre 0 et 23.
                </div>
              </div>
              <div>
                <label>Minutes</label>
                <input type="number" formControlName="heureDebutMinutes" min="0" max="59" class="form-control">
                <div *ngIf="arrosageForm.get('heureDebutMinutes')?.invalid && arrosageForm.get('heureDebutMinutes')?.touched" class="error">
                  Valide entre 0 et 59.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Heure de fin</label>
            <div class="time-inputs">
              <div>
                <label>Heures</label>
                <input type="number" formControlName="heureFinHeures" min="0" max="23" class="form-control">
                <div *ngIf="arrosageForm.get('heureFinHeures')?.invalid && arrosageForm.get('heureFinHeures')?.touched" class="error">
                  Valide entre 0 et 23.
                </div>
              </div>
              <div>
                <label>Minutes</label>
                <input type="number" formControlName="heureFinMinutes" min="0" max="59" class="form-control">
                <div *ngIf="arrosageForm.get('heureFinMinutes')?.invalid && arrosageForm.get('heureFinMinutes')?.touched" class="error">
                  Valide entre 0 et 59.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Humidité du sol requise (%)</label>
            <input type="number" formControlName="humiditeSolRequise" min="0" max="100" class="form-control">
            <div *ngIf="arrosageForm.get('humiditeSolRequise')?.invalid && arrosageForm.get('humiditeSolRequise')?.touched" class="error">
              Valide entre 0 et 100.
            </div>
          </div>

          <div class="form-group">
            <label>Luminosité requise (lux)</label>
            <input type="number" formControlName="luminositeRequise" min="0" class="form-control">
            <div *ngIf="arrosageForm.get('luminositeRequise')?.invalid && arrosageForm.get('luminositeRequise')?.touched" class="error">
              Luminosité requise est requise.
            </div>
          </div>

          <div class="form-group">
            <label>Volume d'eau (en litres)</label>
            <input type="number" formControlName="volumeEau" min="0" class="form-control">
            <div *ngIf="arrosageForm.get('volumeEau')?.invalid && arrosageForm.get('volumeEau')?.touched" class="error">
              Volume d'eau doit être positif.
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="cancel-button" (click)="closeModal()">Annuler</button>
        <button class="save-button" [disabled]="!arrosageForm.valid" (click)="saveSchedule()">
          Programmer
        </button>
      </div>
    </div>
  </div>
</div>
