<form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
  <div class="form-group row">
    <div class="col-md-6">
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" [(ngModel)]="user.prenom" name="prenom" class="form-control" required (input)="validatePrenom()" placeholder="Prénom">
      <span *ngIf="prenomError" class="text-danger">Le prénom est requis.</span>
    </div>
    <div class="col-md-6">
      <label for="nom">Nom</label>
      <input type="text" id="nom" [(ngModel)]="user.nom" name="nom" class="form-control" required (input)="validateNom()" placeholder="Nom">
      <span *ngIf="nomError" class="text-danger">Le nom est requis.</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" required (input)="validateEmail()" placeholder="Email">
      <span *ngIf="emailError" class="text-danger">L'email est requis et doit être valide.</span>
    </div>
    <div class="col-md-6">
      <label for="role">Rôle</label>
      <select id="role" [(ngModel)]="user.role" name="role" class="form-control" required>
        <option value="utilisateur">Utilisateur</option>
        <option value="super-admin">Super Admin</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid || prenomError || nomError || emailError">S'inscrire</button>
</form>
